.root{
    width: 300px  ;
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(56deg, rgba(40,113,180,0.29175420168067223) 0%, rgba(115,187,252,0.30015756302521013) 100%);
}

.form__submit{
    flex-basis: 100%;
    border: none;
    margin: 5px auto 5px auto;
    height: 50px;
    background-color: #B0D1EF;
    transition: all ease 0.5s;
}



.form__submit:hover{
    background-color: #3a8cd8;
    cursor: pointer
}

